__pycache__/
.venv/
venv/
env/
*.pyc
*.db
.env
.idea/


notes/dbnotes.txt

.vscode/
*.code-workspace

*.log

frontend/node_modules/
frontend/build/


# frontend/package-lock.json
#   shouldn't ignore. Needed for consistent dependency management among each team member.
#   inconsistent dependencies may lead to unexpected bugs and issues.